<div class="main-container">
  <div class="alert alert-app-level"></div>

  <header class="header header-6">
    <header class="branding">
      <title>Customer Manager</title>
    </header>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
      <a href="javascript://" class="nav-link nav-text"
        >Interactive Analytics</a
      >
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
